img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: double;
    border-width: 5px;
}
.head{
    display: flex;
    justify-content: center;
}
#cita{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span{
    font-weight: bold;
}
